%ul#tasks.list-group
  - if @tasks.size > 0
    = render @tasks

  - else

    %div.alert.alert-info
      %p
        %strong Hurra!
        Brak zadań na dziś!


- if @finished_tasks.size > 0
  %h3
    Ukończone
    %small (ostatnie 10)
  %table.table.table-condensed
    %tbody
      - @finished_tasks.each do |t|
        %tr
          %td.col-md-1
            %span.label.label-success
              %span.glyphicon.glyphicon-ok-sign
              = "#{t.xp_points} XP"
          %td.completed= t.title
          %td.col-md-3.text-right
            - unless t.completed_at.nil?
              %small= "#{distance_of_time_in_words_to_now t.completed_at} temu"