- if @tasks.size > 0
  %ul.list-group
    - @tasks.each do |task|
      %li.list-group-item
        = link_to complete_task_path(task), class: 'action-complete', method: :post do
          = task.title
          %span.glyphicon.glyphicon-ok
        = link_to task_path(task), class: 'action-delete', method: :delete do
          %span.glyphicon.glyphicon-trash

- else

  %div.alert.alert-info
    %p
      %strong Hurra!
      Brak zadań na dziś!



- if @finished_tasks.size > 0
  %h3 Ukończone
  %table.table.table-condensed
    %tbody
      - @finished_tasks.each do |t|
        %tr
          %td.completed= t.title
          %td
            = "#{distance_of_time_in_words_to_now t.updated_at} temu"