%div.page-header
  %h1
    = @project.name
    - unless @project.description.nil?
      %small= @project.description

%div.page-content
  = render partial: 'tasks/form'
  = render partial: 'tasks/lists'


- content_for :aside do
  = render partial: 'profiles/aside'