!!!
%html
  %head
    %title
      TodoRPG.pl - Grając organizujesz, ogranizujesz grając!
    %meta{name: 'description', content: "Codzienne zadania jako gra RPG! Nigdy wcześniej realizacja codziennych zadań nie była taka ciekawa! Sprawdź..."}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: body_class}
    - if Rails.env == 'production'
      = render partial: 'layouts/gat'
    - if content_for? :intro
      = render partial: 'layouts/simple_header'
      = yield :intro
    - else
      = render partial: 'layouts/header'
      %div.container
        - if content_for? :single
          %div.row
            %div.col-md-6.col-md-offset-3
              = render partial: 'layouts/flash'
              = yield :single
        - elsif content_for? :aside
          %div.row
            %div.col-md-8
              = render partial: 'layouts/flash'
              = yield
            %div.col-md-4
              = yield :aside
        - else
          %div.row
            %div.col-md-12
              = render partial: 'layouts/flash'
              = yield


    = render partial: 'layouts/footer'
